<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <meta charset="UTF-8">
    <title>Server test</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h2>Server list</h2>

    <table>
        <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Group</th>
            <th>Grade Avg.</th>
        </tr>
        {% for student in data %}
            <tr>
                <td>{% if student.get('private') %}<i class="fa fa-lock"></i>{% else %}{% endif %}</td>
                <td>{{ student.get('name', '---') }}</td>
                <td>{{ student.get('group', '---') }}</td>
                <td>{{ student.get('grade', '---') }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">Total no. of students:</td>
            <td>{{ count }}</td>
        </tr>
    </table>
</body>
</html>